#slice-id-a10c9fea-143d-5f3c-8421-bfad69010ef8 {
  section {
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    h3 {
      color: white;
      font-size: 23px;
      margin-bottom: 0px;
      strong {
        color: white;
      }
    }
    p {
      color: white;
    }
  }
}
