$desktop-width: 1240px;

$tablet-width: 1100px;

$mobile-width: 800px;

$mobile-width-small: 600px;
$default-padding: 40px;

$default-margin: 40px;

$darkGray: #3c3e46;
$medGray: #666766;
$medLightGray: #646671;
$lightGray: #dddee0;
$offWhite: #ecedee;
$white: #ffffff;
$blueGray: #464655;
$greenGray: #2e2e2e;
$red: #d23026;
