@import "./src/components/scss/variables.scss";
@import "./src/components/scss/mixins.scss";
* {
  box-sizing: border-box;
  // transition: 0.3s;
  // color: $offWhite;
  font-display: swap;
  font-family: system-ui !important;
}
.typeform-cta {
  position: relative;
  cursor: pointer;
}
body {
  margin: 0px;
  font-family: "Roboto";
  font-weight: 400;
  color: $darkGray;
  p {
    color: $darkGray;
  }
}
.page-container {
  // background: linear-gradient(
  //   109.72deg,
  //   #97231c -0.79%,
  //   #e3482e 61.79%,
  //   #f46036 89.09%
  // );
  // color: $offWhite;
  // color: $offWhite;
}
#home.page-container {
  // background: transparent;
  color: $darkGray;
  p {
    color: $darkGray;
  }
  h2 {
    color: $trueBlue;
  }
}
h1 {
  font-family: "Libre Franklin";
  font-weight: 800;
  font-size: 54px;
  line-height: 72px;
  color: $trueBlue;
  @include mobile() {
    font-size: 40px;
    line-height: 50px;
  }
  a {
    text-decoration: underline;
    display: block;
  }
}
h2 {
  font-family: "Libre Franklin";
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
  display: inline-block;
  margin: 25px 0px 25px 0px;

  .h2-light {
    font-family: "Roboto";
    font-weight: 500;
  }
}
h3 {
  font-family: "Libre Franklin";
  font-size: 27px;
  font-weight: 800;
  .h2-light {
    font-family: "Roboto";
    font-weight: 500;
  }
}
a {
  text-decoration: none;
  transition: 0.3s;
}

p {
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  width: 100%;
  a {
    text-decoration: underline;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.cta-button {
  @include cta-button($darkGray);
}
._form {
  display: none;
}
.block-img img {
  @include mobile() {
    width: 100%;
    height: auto;
  }
}
.MuiTooltip-popper {
  a {
    color: white;
    display: block;
    padding: 4px 0px;
    &:hover {
      color: $red;
    }
  }
}
.typeform-cta {
  cursor: pointer;
  background-color: white;
  padding: 20px 35px;
  border-radius: 6px;
  color: #d23026;
  display: block;
  font-size: 24px;
  line-height: 32px;
}
.youtube-popup {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 25px 10px 25px;
  border-radius: 50px;
  color: white;
  // background-image:url(../../../images/camera-red.png);
  // background-size:40px;
  // background-position: right 20px center;
  // background-repeat: no-repeat;
  &:hover {
    background-color: white;
    color: $red;
  }
}

#_form_9_submit {
  @include mobile() {
    font-size: 21px !important;
    padding: 10px 15px !important;
  }
}
