#slice-id-dir {
  .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mobile() {
      flex-direction: column;
    }
    p {
      &:nth-child(1) {
        width: 30%;
        img {
          max-width: 240px;
        }
        @include mobile() {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 70%;
        @include mobile() {
          width: 100%;
        }
      }
    }
  }
}
