#slice-id-home-hero {
  section {
    padding: 0px 0px;
  }
  .cta-button {
    border: thin solid white;
  }
  .basic-slice-container {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: calc(100vh - 155px);
  }
  .section-content {
    max-width: 605px;
    p {
      &:nth-child(1) {
        @include tablet() {
          display: none;
        }
      }
    }
  }
  h1 {
    color: white;
  }
  p {
    font-weight: 500;
    font-size: 27px;
    line-height: 36px;
    color: white;
    display: block;
    margin: 20px 0px;
  }
  @include mobile() {
    .section-content {
      max-width: 100%;
    }
  }
}

#slice-id-home-it-solution {
  background-color: $lightGray;
  section {
    @include mobile() {
      padding: 20px 0px;
    }
  }
  h2 {
    color: $darkGray;
    text-align: center;
  }
  .column {
    h2 {
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 44px;
      margin-top: 48px;
      width: 100%;
      padding: 0px 24px;
    }
    ul {
      padding: 0px 30px 0px 50px;
      margin: 10px 0px;
      li {
        margin-bottom: 24px;
        &:last-child() {
          margin-bottom: 0px;
        }
      }
    }
    .column-item {
      background-color: white;
      padding-bottom: 48px;
    }
  }
  .block-img {
    text-align: center;
    background-color: $blueGray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 20px;
    margin: 0px;
    img {
      height: 120px;
      width:auto;

      @include mobile() {
      }
    }
  }
}
#slice-id-home-process {
  section {
    &:nth-child(2) {
      @include mobile() {
        display: none;
      }
    }
    &:nth-child(1) {
      background-color: $medLightGray;
      color: $offWhite;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      > div {
        max-width: calc(#{$desktop-width} / 2);
        display: block;
        padding: 0px 20px;
        margin: 0;
        @include tablet() {
          max-width: calc(#{$tablet-width} / 2);
        }
        @include mobile() {
          max-width: calc(#{$mobile-width} / 1);
        }
      }
      h2 {
        color: white;
      }
      ol {
        padding: 0px;
        li {
          list-style: none;
          margin-bottom: 24px;
          display: flex;
          font-size: 18px;
          line-height: 24px;
          color: white;
          &:before {
            background-color: white;
            color: $medLightGray;
            border-radius: 50%;
            min-height: 26px;
            min-width: 26px;
            width: 26px;
            height: 26px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            font-size: 18px;
          }
          &:nth-child(1) {
            &:before {
              content: "1";
            }
          }
          &:nth-child(2) {
            &:before {
              content: "2";
            }
          }
          &:nth-child(3) {
            &:before {
              content: "3";
            }
          }
          &:nth-child(4) {
            &:before {
              content: "4";
            }
          }
          &:nth-child(5) {
            &:before {
              content: "5";
            }
          }
          &:nth-child(6) {
            &:before {
              content: "6";
            }
          }
          &:nth-child(7) {
            &:before {
              content: "7";
            }
          }
        }
      }
    }
  }
}
#slice-id-contact-slice {
  section {
    &:nth-child(1) {
      width: 35%;
      @include mobile() {
        width: 100%;
        display: none;
      }
      > div {
        max-width: calc(#{$desktop-width} * 0.35);
        @include tablet() {
          max-width: calc(#{$tablet-width} * 0.35);
        }
        @include mobile() {
          max-width: calc(#{$mobile-width});
        }
      }
      a {
        color: $darkGray;
      }
    }
    &:nth-child(2) {
      > div {
        max-width: calc(#{$desktop-width} * 0.65);
        @include tablet() {
          max-width: calc(#{$tablet-width} * 0.65);
        }
        @include mobile() {
          max-width: calc(#{$mobile-width});
        }
      }
      width: 65%;
      background-size: contain;
      min-height: 363px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile() {
        width: 100%;
      }
      &:before {
        background-size: 370px;
      }
      h2 {
        font-family: "Libre Franklin";
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        line-height: 72px;
        color: $darkGray;
        margin-bottom: 40px;
        text-align: right;
        display: block;
      }
      p {
        margin: 0px;
        text-align: right;
      }
      .cta-button {
        display: inline-block;
        margin-top: 40px;
      }

      // a {
      //   background-color: $darkGray;
      //   color: white;
      //   padding: 15px 30px;
      //   border-radius: 4px;
      //   margin-top: 40px;
      //   display: inline-block;
      //   &:hover {
      //     background: lighten($darkGray, 8%);
      //     transition: all 0.3s ease;
      //   }
      // }
    }
  }
}
