@import "./src/components/scss/variables.scss";
@import "./src/components/scss/mixins.scss";
// main {
//   position: relative;
//   top: -107px;
// }
#home {
  background-image: url(../../../images/planes.png);
  background-repeat: no-repeat;
  background-size: 617px;
  background-position: right -70px top 490px;
  @media (max-width: 1200px) {
    background-position: right -250px top 490px;
  }
  @media (max-width: 1050px) {
    background-position: right -350px top 490px;
  }
  @media (max-width: 960px) {
    background-position: right -350px top 490px;
    background-size: 517px;
  }
  @media (max-width: 830px) {
    background: none;
  }
  header {
    position: absolute;
    width: 100%;
    z-index: 999;
    background: transparent;
  }
  h2 {
    margin-bottom: 0px;
  }
}
#welcome-to-phase-2-new {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  .slice-left-right {
    section {
      > div {
        padding: 0px;
      }
    }
  }
  .left-right-container {
    box-sizing: content-box;
  }
  .basic-slice-container {
    box-sizing: content-box;
  }
}
#slice-id-phase-2-header {
  position: absolute;
  width: 100%;
  z-index: 99;
  a {
    text-decoration: none;
  }
  .left-right-container {
    max-width: 1240px;
    padding: 0px 20px;
    margin: 0 auto;
    width: 100%;
    @include tablet() {
      max-width: 1100px;
    }
    @include mobile() {
      max-width: 800px;
    }
  }
  section {
    padding: 0px;
    display: flex;
    align-items: center;
    height: 100px;
    > div {
      align-self: center;
      width: 100% !important;
    }
    img {
      max-width: 100%;
    }
    p {
      margin: 0px;
      color: white !important;
    }
    a {
      color: white;
    }
    &:nth-child(1) {
      max-width: 290px;
      width: 50% !important;
    }
    &:nth-child(2) {
      text-align: right;
      width: 50% !important;
      p {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
#slice-id-phase-2-gear {
  .embed-pre-render-2 {
    background-image: url(../../../images/working3.svg);
    background-size: cover;
    max-height: 214px;
    width: 100%;
    padding-top: 56.25%;
  }
  // background: linear-gradient(
  //   119.79deg,
  //   #97231c 0%,
  //   #d0482c 67.37%,
  //   #f46036 118.87%
  // );
  // border-bottom-right-radius: 100%;
  // background-image: url(../../../images/gearnewcrop.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15px;
  position: relative;
  z-index: 99;
  // background-image: url("../../../images/gear-desktop.webp");
  .embed-pre-render {
    background-image: url("../../../images/video-placeholder.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  section {
    min-height: 750px;
    display: flex;
    align-items: center;
    padding: 0px;
    .column {
      .column-item {
        &:nth-child(1) {
          max-width: calc(100% - 420px);
          width: calc(100% - 420px);
          @include tablet() {
            width: 100%;
            max-width: 100%;
          }
        }
        &:nth-child(2) {
          max-width: 380px;
          width: 380px;
          margin-top: 14px;
          @include tablet() {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
    h2, h1 {
      color: white;
      font-size: 54px;
    }
    p {
      color: white !important;
    }
    &:before {
      background-size: contain;
      // background-position: right bottom;
      background-position: 100% 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
    .basic-slice-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    h2 {
      font-weight: 800;
      font-size: 54px;
      line-height: 72px;
      margin: 0px;
      color: white !important;
      @include mobile() {
        font-size: 48px;
        line-height: 58px;
      }
    }
    p {
      font-size: 27px;
      line-height: 36px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      // font-family: system-ui;
    }
    .section-content {
      max-width: 550px;
      margin-top: 80px;
      h2 {
        font-weight: 800;
        font-size: 54px;
        line-height: 72px;
        margin: 0px;
        color: white;
        @include mobile() {
          font-size: 48px;
          line-height: 58px;
        }
      }
      p {
        font-size: 27px;
        line-height: 36px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
      }
      .view-video {
        @include mobile() {
          font-size: 23px;
          line-height: 33px;
        }
      }
    }
  }
}

#slice-id-help-disrupt {
  h2 {
    color: $trueBlue;
    font-weight: 800;
    font-size: 54px;
    line-height: 72px;
    margin: 0px;
  }
  p {
    max-width: 600px;
    font-size: 27px;
    line-height: 36px;
    font-family: Roboto;
    @include mobile() {
      max-width: 100%;
    }
  }
}
#slice-id-phase-2-concept-new {
  section {
    padding: 20px 0px;
  }
  .column {
    @include mobile() {
      flex-direction: column;
    }
  }
  .column-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:nth-child(2) {
      p {
        // padding-top: 40px;
        @include mobile() {
          // padding-top: 0px;
        }
      }
    }
    @include mobile() {
      width: 100% !important;
      max-width: 100%;
    }
    p {
      font-size: 27px;
      line-height: 36px;
    }
    p.block-img {
      text-align: center;
      img {
        width: 485px;
        max-width: 100%;
      }
    }
  }
}

#slice-id-value-freedom {
  .column {
    @include mobile() {
      flex-direction: column-reverse;
    }
  }
  section {
    padding: 20px 0px;
  }
  .column-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobile() {
      width: 100% !important;
      max-width: 100%;
    }
    p {
      font-size: 27px;
      line-height: 36px;
    }
    p.block-img {
      text-align: center;
      img {
        width: 485px;
        max-width: 100%;
      }
    }
  }
}

#slice-id-current-version {
  section {
    padding: 20px 0px;
  }
  .column {
    @include mobile() {
      flex-direction: column;
    }
  }
  .column-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobile() {
      width: 100% !important;
      max-width: 100%;
    }
    p {
      font-size: 27px;
      line-height: 36px;
    }
    p.block-img {
      text-align: center;
      img {
        width: 485px;
        max-width: 100%;
      }
    }
  }
}

#slice-id-better-way {
  .column {
    @include mobile() {
      flex-direction: column-reverse;
    }
  }
  section {
    padding: 20px 0px;
  }
  .column-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobile() {
      width: 100% !important;
      max-width: 100%;
    }
    p {
      font-size: 27px;
      line-height: 36px;
    }
    p.block-img {
      text-align: center;
      img {
        width: 485px;
        max-width: 100%;
      }
    }
  }
}

#slice-id-time-matters {
  section {
    padding: 20px 0px;
  }
  .column {
    @include mobile() {
      flex-direction: column;
    }
  }
  .column-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobile() {
      width: 100% !important;
      max-width: 100%;
    }
    p {
      font-size: 27px;
      line-height: 36px;
    }
    p.block-img {
      text-align: center;
      img {
        width: 485px;
        max-width: 100%;
      }
    }
  }
}

// #home #slice-id-global-apply {
//   background-image: url(../../../images/logo-gear-right.png),
//     linear-gradient(
//       89.96deg,
//       rgba(0, 53, 82, 0.97) 34.07%,
//       rgba(0, 53, 82, 0.49) 241.7%
//     );
//   h2 {
//     color: white;
//   }
// }

#slice-id-phase-2-bottom {
  background-image: url(../../../images/logo-gear-right.png),
    linear-gradient(
      89.96deg,
      rgba(0, 53, 82, 0.97) 34.07%,
      rgba(0, 53, 82, 0.49) 241.7%
    );
  background-size: 50%, 100%;
  // background-position: right bottom;
  background-position: left 100%;
  background-repeat: no-repeat;
  padding: 80px 0px;
  // .left-right-container {
  //   align-items: flex-start;
  //   max-width: 1240px;
  //   max-width: 1240px;
  //   padding: 0px 20px;
  //   margin: 0 auto;
  //   width: 100%;
  //   @include tablet() {
  //     max-width: 1100px;
  //   }
  //   @include mobile() {
  //     max-width: 800px;
  //   }
  // }
  h2 {
    color: white !important;
    font-weight: 800;
    font-size: 54px;
    line-height: 72px;
    margin: 0px;
  }
  p {
    color: white !important;
    font-size: 27px;
    line-height: 36px;
    a {
      background-color: white;
      color: $red;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 27px;
      line-height: 36px;
      text-align: center;
      border-radius: 6px;
      padding: 20px 40px;
      width: 100%;
      display: block;
    }
  }
  section {
    &:nth-child(1) {
    }
  }
}
#slice-id-phase2-bottom-footer {
  background-color: $trueBlue;
  height: 73px;
  section {
    padding: 0px;
  }
}

@include desktop() {
  #slice-id-phase-2-gear {
    background-image: url("../../../images/gear-desktop.webp");
  }
  .webp #slice-id-phase-2-gear {
    background-image: url("../../../images/gear-desktop.webp");
  }
}
@include tablet() {
  #slice-id-phase-2-gear {
    background-image: url("../../../images/gear-tablet.webp");
  }
  #slice-id-phase-2-gear .webp {
    background-image: url("../../../images/gear-tablet.webp");
  }
}
@include mobile() {
  #slice-id-phase-2-gear {
    background-image: url("../../../images/gear-mobile.webp");
  }
  .webp #slice-id-phase-2-gear {
    background-image: url("../../../images/gear-mobile.webp");
  }
}
